<ion-view title="Invites" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button id="invites-button23" class="button button-positive button-small button-block">Interest Recvd</button>
            <button id="invites-button24" class="button button-positive button-small button-block button-outline">Interests Sent</button>
        </div>
        <div class="list card">
            <div class="item item-divider">Robert</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item</ion-item>
                </ion-list>
                <button id="invites-button27" class="button button-positive button-small button-block">Accept</button>
                <button id="invites-button26" class="button button-positive button-small button-block">Reject</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lina</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item</ion-item>
                </ion-list>
                <button id="invites-button28" class="button button-positive button-small button-block">Accept</button>
                <button id="invites-button29" class="button button-positive button-small button-block">Reject</button>
            </div>
        </div>
    </ion-content>
</ion-view>