<ion-view hide-back-button="false" title="Trip Summary" id="page10">
    <ion-content padding="false" scroll="false" class="has-header">
        <div style="height: 100%;">
        <div class="list card summaryCard" style="height: 42%">
            <div class="item item-divider">Delhi to Pune</div>
            <div class="item item-body">
                <h3 id="planATrip3-heading5" style="color:#000000;">Jet Airways 9W 228</h3>
                <h3 id="planATrip3-heading8" style="color:#000000;">29th-May-2016, 9:30am</h3>
                <h3 id="planATrip3-heading11" style="color:#000000;">Robotics &amp; AI Event</h3>
                <h3 id="planATrip3-heading10" style="color:#000000;">Would like to Socialize</h3>
            </div>
        </div>
        <div class="spacer" style="height: 6%;"></div>
         <div  class="row airlineCntr" style="height: 30%;">
            <div  class="col " >
                <a  class="button button-calm button-standard button-block">Web Check In</a>
                <a ui-sref="menu.buddySearchResults" class="button button-calm button-standard button-block">Find Buddy</a>
                <a  ui-sref="menu.trips" class="button button-calm button-standard button-block">Come back later</a>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>