
      <ion-view title="Find A Buddy" id="searchByTrip">
        <ion-content class="padding">
          <div class="spacer" style="height: 32px;"></div>
        <div class="row airlineCntr">
            <div class="col airlineSel">
                <span id="selUpcTripLab" for="upcomingTripBox" class="input-label">Select Upcoming Trip</span>
                <label class="item item-select" name="upcomingTripBox" placeholder="Airlines">
                    <select id="upcTrpSel" name="AirlinesSel">
                        <option value="selurtrip" selected="selected">Select Upcoming Trip</option>
                        <option>Pune to Bangalore, 5/20</option>
                        <option>Bangalore to Pune, 5/28</option>
                                            </select>
                </label>
            </div>
            
        </div>
        <div class="spacer" style="height: 32px;"></div>
        <div  class="row airlineCntr">
            <div  class="col srchBtnCntr">
                <a class="button button-calm button-standard button-block">Search</a>
            </div>
        </div>
        </ion-content>
      </ion-view>
