<ion-view hide-back-button="false"  title="Buddy Search Results" id="page11">
    <ion-content padding="true" class="has-header">
       <!--Matching Buddies container-->
            <div style="padding-left:5px;padding-right:5px" id="matchingBuddies" >
            <ion-scroll direction="y" style="height:{{scrollHeight}}" >
                <ion-list  >
                    <ion-item class="tripListItem  item-remove-animated item-avatar-right item-complex" ng-repeat="traveller in travellerMatches"  >
                        <div class="row" >
                            <div class="col-40" style="padding-top:5px;padding-bottom:10px">
                                <div class="row">
                                    <div class="col" >
                                       <!-- <h4 style="padding-bottom:10px">Name: <span style="font-weight:bold;" >{{traveller.name}}</span></h4>-->
                                        <img src="img/{{traveller.buddyAvatar}}"  alt="" />
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col" >
                                        <rating ng-model="traveller.avgRating" max="5" readonly="true"></rating>
                                    </div>
                                </div>
                            </div>
                            <div class="col-60" style="padding-left:0px;padding-top:5px;padding-bottom:10px">
                                <div class="row" >
                                    <div class="col" >
                                        <h4><b><span style="font-weight:bold;" >{{traveller.name}}, {{traveller.age}} yrs</span></b>, {{traveller.livesIn}}</h4>
                                        <span style="display:flex"><h4 id="commentText">{{traveller.about}}</h4></span>
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="col" >
                                        <h4><b>Interests</b></h4>
                                        <span style="display:flex"><h4 id="commentText">{{traveller.interests}}</h4></span>
                                    </div>
                                </div>  

                                <div class="col" style="padding-left:15px;padding-top:15px">
                                        <button class="button button-small button-balanced button-block">
                                          Invite to Travel Together
                                      </button>
                                </div>    
                            </div>      
                        </div>  
                    </ion-item>
                </ion-list>
            </ion-scroll>
            </div>  
    </ion-content>
</ion-view>