<ion-view title="Find A Buddy" id="page3">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <h4 id="findABuddy-heading12" style="color:#000000;">Find buddy for Upcoming Trip</h4>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Upcoming Trips</span>
                <select>
                    <option>Delhi - Pune, 29/5</option>
                    <option>Pune - Delhi, 6/1</option>
                    <option></option>
                </select>
            </label>
        </form>
        <a ui-sref="menu.buddySearchResults" id="findABuddy-button21" class="button button-positive button-small button-block">Search</a>
        <h4 id="findABuddy-heading13" style="color:#000000;text-align:center;">Or</h4>
        <h4 id="findABuddy-heading14" style="color:#000000;">Just Look who is travelling</h4>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">From</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">To</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Airlines</span>
                <select></select>
            </label>
        </form>
        <a ui-sref="menu.buddySearchResults" id="findABuddy-button22" class="button button-positive button-small button-block">Search</a>
    </ion-content>
</ion-view>