<ion-view hide-nav-bar="true" title="" id="page20">
    <ion-content padding="false" scroll="false" class="bkImg">
      <section class="loginCntr">   
         
         <div class="spacer" style="height: 50%;"></div>
         
         <div class="row landingBtnPane" >
            
          <button ui-sref="menu.webCheckIn" class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Web Check-In
          </button>
          <button ui-sref="menu.freeSearch" class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-search"></i> See who's travelling
          </button>
         <button ui-sref="login" class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-briefcase"></i> Trips
          </button>
        
         </div>
        
        </section> 
    </ion-content>
</ion-view>