<ion-view hide-back-button="false" title="Trip Summary" id="page10">
    <ion-content padding="false" scroll="false" class="has-header">
        <div style="height: 100%;">
            <!--Trip details section-->
            <div id="tripDetails" >
                    
                    <div class="row " >
                        <div class="col" style="padding-top:10px;font-size:16px;font-weight:bold">    
                            {{tripDetails.from}}<span style="margin-left:10px;margin-right:10px" class="icon ion-arrow-right-c"></span>{{tripDetails.to}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding-top:10px">    
                            {{tripDetails.airlines}}, {{tripDetails.flightNo}}                
                        </div>
                    </div>
                    <div class="row " >
                        <div class="col" style="padding-top:10px">    
                            {{tripDetails.travelDate}}, {{tripDetails.flightTime}} hrs
                        </div>
                        <div class="col" style="margin-top:-10px">
                    <button class="button button-small button-balanced button-block" ui-sref="menu.webCheckIn">
                        Web Check In
                    </button>
                     </div>
                    </div>

                
            </div>
            <!--END-->
            
            <!--Matching Buddies / Invites Buttons-->
            <div class="button-bar"  style="padding-left:3px;padding-right:3px;">
                <button id="matchesBtn" ng-class="{'button-outline': !isActive('matchingProfiles')}" class="button button-calm button-small button-block" ng-click="setActive('matchingProfiles') "> Matches</button>
                <button id="inviteRecvdBtn" ng-class="{'button-outline': !isActive('interestsRecvd')}" class="button button-calm button-small button-block" ng-click="setActive('interestsRecvd') ">Invites Recvd</button>
                <button id="iniviteSentBtn" ng-class="{'button-outline': !isActive('interestsSent')}" class="button button-calm button-small button-block" ng-click="setActive('interestsSent') ">Invites Sent</button>
            </div>
            <!--Matching Buddies container-->
            <div style="padding-left:5px;padding-right:5px" id="matchingBuddies" ng-show="isActive('matchingProfiles')">
            <ion-scroll direction="y" style="height:{{scrollHeight}}" >
                <ion-list  >
                    <ion-item class="tripListItem  item-remove-animated item-avatar-right item-complex" ng-repeat="traveller in travellerMatches"  >
                        <div class="row" >
                            <div class="col-40" style="padding-top:5px;padding-bottom:10px">
                                <div class="row">
                                    <div class="col" >
                                       <!-- <h4 style="padding-bottom:10px">Name: <span style="font-weight:bold;" >{{traveller.name}}</span></h4>-->
                                        <img src="img/{{traveller.buddyAvatar}}"  alt="" />
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col" >
                                        <rating ng-model="traveller.avgRating" max="5" readonly="true"></rating>
                                    </div>
                                </div>
                            </div>
                            <div class="col-60" style="padding-left:0px;padding-top:5px;padding-bottom:10px">
                                <div class="row" >
                                    <div class="col" >
                                        <h4><b><span style="font-weight:bold;" >{{traveller.name}}, {{traveller.age}} yrs</span></b>, {{traveller.livesIn}}</h4>
                                        <span style="display:flex"><h4 id="commentText">{{traveller.about}}</h4></span>
                                    </div>
                                </div>

                                <div class="row" >
                                    <div class="col" >
                                        <h4><b>Interests</b></h4>
                                        <span style="display:flex"><h4 id="commentText">{{traveller.interests}}</h4></span>
                                    </div>
                                </div>  

                                <div class="col" style="padding-left:15px;padding-top:15px">
                                        <button class="button button-small button-balanced button-block">
                                          Invite to Travel Together
                                      </button>
                                </div>    
                            </div>      
                        </div>  
                    </ion-item>
                </ion-list>
            </ion-scroll>
            </div>    
            <!--Invites Recieved container-->
            <div style="padding-left:5px;padding-right:5px" id="invitesRecvd" ng-show="isActive('interestsRecvd')">
                <ion-scroll direction="y" style="height:{{scrollHeight}}" >
                    <ion-list  >
                        <ion-item class="tripListItem  item-remove-animated item-avatar-right item-complex" ng-repeat="traveller in interestsRecvd"  >
                            <div class="row" >
                                <div class="col-40" style="padding-top:25px;padding-bottom:10px">
                                    <div class="row">
                                        <div class="col" >
                                        
                                            <img src="img/{{traveller.buddyAvatar}}"  alt="" />
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <div class="col" >
                                            <rating ng-model="traveller.avgRating" max="5" readonly="true"></rating>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-60" style="padding-left:0px;padding-top:5px;padding-bottom:5px">
                                     <div class="row" >
                                    <div class="col" >
                                        <h4><b><span style="font-weight:bold;" >{{traveller.name}}, {{traveller.age}} yrs</span></b>, {{traveller.livesIn}}</h4>
                                        <span style="display:flex"><h4 id="commentText">{{traveller.about}}</h4></span>
                                    </div>
                                </div>
                                    <div class="row" >
                                        <div class="col" style="padding-bottom:10px">
                                            <h4><b>Interests</b></h4>
                                            <span style="display:flex"><h4 id="commentText">{{traveller.interests}}</h4></span>
                                        </div>
                                    </div>    
                                    <div class="row" >
                                        <div class="col" >
                                            <h4><b>Message</b></h4>
                                            <span style="display:flex"><h4 id="msgText">{{traveller.message}}</h4></span>
                                        </div>
                                    </div>  
                                    <div class="row" >
                                        <div class="col" >
                                            <button class="button button-small button-balanced button-block">
                                              Accept
                                          </button>
                                      </div>
                                      <div class="col">       
                                        <button class="button button-small button-assertive button-block">
                                            Reject
                                        </button>
                                    </div>
                                </div> 
                            </div>      
                        </div>  
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </div>    
         <!--Invites Sent container-->
         <div style="padding-left:5px;padding-right:5px" id="invitesSent" ng-show="isActive('interestsSent')">
            <ion-scroll direction="y" style="height:{{scrollHeight}}" >
                <ion-list  >
                    <ion-item class="tripListItem  item-remove-animated item-avatar-right item-complex" ng-repeat="traveller in interestsSent"  >


                        <div class="row" >

                            <div class="col-40" style="padding-top:25px;padding-bottom:10px">
                                <div class="row">
                                    <div class="col" >
                                       
                                        <img src="img/{{traveller.buddyAvatar}}"  alt="" />
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col" >
                                        <rating ng-model="traveller.avgRating" max="5" readonly="true"></rating>
                                    </div>
                                </div>
                            </div>
                            <div class="col-60" style="padding-left:0px;padding-top:5px;padding-bottom:5px">
                                 <div class="row" >
                                    <div class="col" >
                                        <h4><b><span style="font-weight:bold;" >{{traveller.name}}, {{traveller.age}} yrs</span></b>, {{traveller.livesIn}}</h4>
                                        <span style="display:flex"><h4 id="commentText">{{traveller.about}}</h4></span>
                                    </div>
                                </div>    
                                <div class="row" >
                                    <div class="col" style="padding-bottom:10px">
                                        <h4><b>Interests</b></h4>
                                        <span style="display:flex"><h4 id="commentText">{{traveller.interests}}</h4></span>
                                    </div>
                                </div>    
                                <div class="row" >
                                    <div class="col" >
                                        <h4><b>Message</b></h4>
                                        <span style="display:flex"><h4 id="msgText">{{traveller.message}}</h4></span>
                                    </div>
                                </div>  
                                <div class="row" >
                                    <div class="col" >
                                        <button class="button button-small button-balanced button-block">
                                          Pending
                                      </button>
                                    </div>
                              </div> 
                          </div>      
                      </div>  
                    </ion-item>
              </ion-list>
          </ion-scroll>
      </div> 
</div>
</ion-content>
</ion-view>