<ion-view hide-back-button="false" title="Trip Summary" id="page10">
    <ion-content padding="true" class="has-header">
        
        <div class="list card summaryCard">
            <div class="item item-divider">Delhi to Pune</div>
            <div class="item item-body">
                <h3 id="planATrip3-heading5" style="color:#000000;">Jet Airways 9W 228</h3>
                <h3 id="planATrip3-heading8" style="color:#000000;">29th-May-2016, 9:30am</h3>
                <h3 id="planATrip3-heading11" style="color:#000000;">Robotics &amp; AI Event</h3>
                <h3 id="planATrip3-heading10" style="color:#000000;">Would like to Socialize</h3>
            </div>
        </div>

        <button id="planATrip3-button8" class="button button-calm  button-block">Web Check In</button>
        <a ui-sref="menu.buddySearchResults" id="planATrip3-button9" class="button button-calm  button-block">Find A Buddy</a>
        <a ui-sref="menu.trips" id="planATrip3-button10" class="button button-calm  button-block">Come Back Later</a>
    </ion-content>
</ion-view>