<ion-view hide-nav-bar="true" title="" id="page15">
    <ion-content padding="true" scroll="false" class="bkImg">
      <section class="loginCntr">   
         
          <div class="row headerspacer"></div>
         
          <div class="row facebookLoginContr">
            <div class="col">
                 <a ui-sref="menu.trips" id="login-button32" class="button button-positive  button-block">Sign In With Facebook</a>
            </div>
           </div>
           
         <div class="row otherLoginCont">
            <div class="col">
                <a  class="button button-assertive button-block">Google</a>
            </div>
            <div class="col">
                <a  class="button button-dark button-block">LinkedIn</a>
            </div>
         </div>   

         <div class="row emailLoginContr">
            <div class="col text-center">
                <a  class="button button-clear button-dark">Sign in with  Email</a>
            </div>
            <div class="col text-center">
                <a  class="button button-clear button-dark">Create Account</a>
            </div>
         </div>   

        </section> 
    </ion-content>
</ion-view>