<ion-view hide-back-button="false" title="Web Check In" id="page21">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 104px;"></div>
        <div class="row landingBtnPane">
            
          <button ui-sref="webCheckIn" class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Air India
          </button>
          <button class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Spice Jet
          </button>
         <button class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Indigo
          </button>
        
         </div>
         <div class="spacer" style="height: 8px;"></div>
        <div class="row landingBtnPane">
            
          <button ui-sref="webCheckIn" class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Jet Airways
          </button>
          <button class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Air Asia
          </button>
         <button class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Vistara
          </button>
        
         </div>
         <div class="spacer" style="height: 8px;"></div>
                 <div class="row landingBtnPane">
            
          <button ui-sref="webCheckIn" class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Go Air
          </button>
          <button class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> Air Costa
          </button>
         <button class="col-33 button button-icon button-large button-outline">
            <i class="icon ion-plane"></i> 
          </button>
        
         </div>
    </ion-content>
</ion-view>